body{
  margin:0;
}

header{
  display:flex;
  justify-content: space-between;
  height:80px;
  line-height: 80px;
  background-color: grey;
  margin:0;
}

.links{
  margin:0 5em 0 0;
}

a{
  margin: 0 5em 0 0;
  font-size: 1.7em;
  text-decoration: none;
}

.links a{
  color:black;
}

.title{
  margin:0 0 0 2em;
  font-size: 1.5em;
  color:red;
  font-family: 'Anton', sans-serif;
}

footer{
  background-color:black;
  text-align:center;
  color:white;
  height:60px;
  line-height: 60px;
  margin:0;
}

footer a{
  color:white;
  font-size: 1em;
  text-decoration: underline;
  margin:0;
}

footer p{
  margin:0;
}

.home{
  display:flex;
  justify-content: space-between;
  background-image: url('./images/background.jpg');
  background-size: cover;
}

.home img{
  width:40%;
  height:600px;
  object-fit: cover;
}

.home button{
  padding: 15px;
  border:2px solid black
}

.home button:hover{
  box-shadow: 2px 2px 2px 1px black;
  border:none;
}

.home button:click{
  box-shadow:none;
  border:2px solid black;
}

.about{
  width:30%;
  margin:5em 18em 0 0;
}

.about p{
  font-size: 1.2em;
}

button{
  font-size: 2em;
  margin: 1em 0 0 1em;
  background-color: red;
  cursor: pointer
}

.instruction{
  display:flex;
  justify-content: space-evenly;
  margin: 2em 0 .5em 0;
}

.instruction:first-of-type{
  margin:2em 0 0 0;
}

.howTo img{
  width:30%;
  height: 200px;
  object-fit: cover;
}

.topic{
  width:50%;
  border-bottom: 2px solid black;;
}

.topic p{
  font-size: 1.2em;
}

.gameWindow{
  height:550px;
  width:1000px;
  margin: 3em auto 3em auto;
  background-color:grey;
  position:relative;
  overflow:hidden;
  background-image: url('images/jail.jpeg');
  background-size: 150%;
  background-position: -300px -260px;
}

.hero{
  position:absolute;
  top:180px;
  left: 20px;
}

.hero img, .enemy img{
  margin: 0 0 1em 4em;
  height:190px;
}

.enemy{
  position: absolute;
  top:65px;
  left: 720px;
}

.health img, .energy img{
  height:40px;
  width:40px;
  margin: auto 0 auto 0;
}

.block img{
  width:35px;
  height:35px;
}

.health, .energy, .block{
  display:flex;
  justify-content: left;
  height:40px;
}

progress{
  margin: auto 0 auto 0;
  background-color: grey;
  box-shadow: 2px 2px 2px 1px black;
}


.health p, .energy p, .block p {
  font-weight: 900;
  margin:12px 0 0 5px;
  text-shadow: 2px 2px 2px black;

}

.block p{
  color:#00FFFF;
}

.health p{
  color:red;
}

.energy p{
  color:#E1D714;
}

#healthBar::-webkit-progress-value {
  background: red;
}

#energyBar::-webkit-progress-value {
  background: #E1D714;
}

.cards{
  height:180px;
  width:450px;
  background-color: rgba(102, 102, 153, .5);
  bottom:20px;
  left: 270px;
  position: absolute;
  display:flex;
  justify-content: space-evenly;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.card{
  height:160px;
  width:82px;
  border:1px solid black;
  margin: auto 0;
  background-color: grey;
  position:relative;
  border-radius:5px;
  border:2px solid white;
  background-image: url('images/background.jpg');
}

#buff{
  font-size: .8em;
}

.buffIcon{
  position:absolute;
  top:-50px;
  left:25px;
  display:flex;
}

.buffIcon img{
  height:50px;
  width:50px;
}

.buffIcon p{
  font-weight: 900;
  font-size: 1.5em;
  color: #079220;
  text-shadow: 2px 2px 2px 1px black;
}


.card:hover{
  height:180px;
  width:100px;
  box-shadow: 3px 3px 2px 1px black;
}

#energyIcon{
  position:absolute;
  bottom: 2px;
  right: 5px
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.cardHeader{
  display:flex;
  justify-content: space-between;
  margin: 0 0 5px 5px;
}

.card h2{
  font-size: .8em;
  margin:0;
  text-decoration: underline;
}

.card img{
  width:65px;
  height:65px;
  margin:0 auto;
  display:block;
}

.cardHeader img{
  height:20px;
  width:20px;
  margin:auto 0;
  display:inline;
}

.card h3{
  margin:auto 0;
}

.card .icon{
  height:20px;
  width:20px;
  display:inline;
}

.card p{
  margin: 0 auto;
}

.info{
  margin: .5em 0 0 .5em;
}

.upcomingAttack, .upcomingBlock{
  display:flex;
  margin:0;
  height:60px
}

.upcoming img{
  height:40px;
  width:40px;
  margin:0 0 0 4em;
}

.upcoming p{
  text-shadow: 2px 2px 2px 1px black;
  font-size: 1.5em;
}

.characterAttack{
	animation-name: charAttack;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: .5s;
}

@keyframes charAttack {
	50% {
		transform:translate(70px,0);
	}
	100% {
		transform:translate(0px,0)
	}
}

.enemyAttack{
	animation-name: enmAttack;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: .5s;
}

@keyframes enmAttack {
	50% {
		transform:translate(-70px,0);
	}
	100% {
		transform:translate(0px,0)
	}
}

.hurt{
  animation-name: hurt;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

@keyframes hurt {
  0% {
    transform: translate(-1px, 0);
  }
  
  25% {
    transform: translate(2px, 0);
  }

  50% {
    transform: translate(-4px, 0);
  }

  75% {
    transform: translate(2px, 0);
  }
  100% {
    transform: translate(-1px, 0);
  }
}

.hero .explosion{
  position:absolute;
  top: -30px;
  left:-40px;
}

.enemy .explosion{
  position:absolute;
  top:50px;
  left:-60px;
}

.explosion{
  height:50px;
  width:150px;
  animation-name: explosion;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

@keyframes explosion {
  0%{
    opacity:0
  }
	100% {
    opacity:1;
    height:200px;
    width:200px;
	}
}

.displayBlocked img, .displayHurt img{
  height:30px;
  width:30px;
  margin:0;
}

.displayBlocked, .displayHurt{
  display:flex;
  margin:0;
}



@keyframes rightHit{
  100%{
    transform: translate(30px, 60px);
  }
}



@keyframes leftHit{
  100%{
    transform: translate(-30px, 60px);
  }
}

.displayBlocked h2, .displayHurt h2{
  margin:0;
}

.enemy .displayBlocked{
  position:absolute;
  top:130px;
  left:150px;
  animation-name: rightHit;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

.enemy .displayHurt{
  position:absolute;
  top:130px;
  left:20px;
  animation-name: leftHit;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

.hero .displayBlocked{
  position:absolute;
  top:30px;
  left:20px;
  animation-name: leftHit;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

.hero .displayHurt{
  position:absolute;
  top:30px;
  left:180px;
  animation-name: rightHit;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

.endTurn{
  border:1px solid black;
  box-shadow: 1px 1px 2px 1px black;
}

.loseScreen, .winScreen, .bigWin{
  border:3px solid black;
  height: 500px;
  position:absolute;
  text-align:center;
  width:800px;
  top:25px;
  left: 100px;
  z-index: 2;
  border: 2px solid red;
  background-image: url('images/pageBackground.jpg');
  background-size: cover;
  animation-name: popUp;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

@keyframes popUp{
  0%{
    border:none;
    height:1px;
    width:1px
  }
  100%{
    height:500px;
    width:800px;
  }
}

.winScreen button{
  margin:2em auto;
}

.bigWin button, .loseScreen button{
  margin:1em auto;
}

.bigWin img, .loseScreen img{
  display: block;
  margin:0 auto;
  height:300px;
  box-shadow: 3px 3px 2px 1px;
}

.upgrades{
  display:flex;
  margin:2em auto;
  justify-content: center;
}

.upgrades .card{
  margin:0 1em 0 0;
}

.notEnough{
  color:#00FFFF;
  position:absolute;
  top: 300px;
  left:390px;
  animation-name: notEnough;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

@keyframes notEnough{
  100%{
    transform: translate(0,-20px);
    opacity:.3;
  }
}

