body{
  margin:0;
}

header{
  display:flex;
  justify-content: space-between;
  height:80px;
  line-height: 80px;
  background-color: grey;
  margin:0;
}

.links{
  margin:0 5em 0 0
}

a{
  margin: 0 2em 0 0;
  font-size: 1.5em;
  text-decoration: none;
}

.links a{
  text-decoration: underline;
}

.title{
  margin:0 0 0 2em;
  font-size: 1.5em;
  color:red;
}

footer{
  background-color:black;
  text-align:center;
  color:white;
  height:60px;
  line-height: 60px;
}

footer a{
  color:white;
  font-size: 1em;
  text-decoration: underline;;
}

.home{
  display:flex;
  justify-content: space-evenly;
}

.home img{
  width:40%;
}

.about{
  width:40%;
  margin:3em 0 0 0;
}

button{
  font-size: 2em;
  margin: 1em 0 0 1em;
  background-color: red;
}

.instruction{
  display:flex;
  justify-content: space-evenly;
  margin: 2em 0 .5em 0;
}

.instruction:first-of-type{
  margin:4em 0 0 0;
}

.howTo img{
  width:30%;
  height: 200px;
  object-fit: cover;
}

.topic{
  width:50%;
  border-bottom: 2px solid black;;
}

.gameWindow{
  height:550px;
  width:1000px;
  margin: 3em auto 3em auto;
  background-color:grey;
  position:relative;
  background-size: 150%;
  background-position: -300px -260px;
}

.hero{
  position:absolute;
  bottom:80px;
  left: 20px;
}

.hero img, .enemy img{
  margin: 0 0 1em 4em;
  height:190px;
}

.enemy{
  position: absolute;
  bottom:80px;
  left: 720px
}

.health img, .energy img{
  height:40px;
  width:40px;
  margin: auto 0 auto 0;
}

.block img{
  width:35px;
  height:35px;
}

.health, .energy, .block{
  display:flex;
  justify-content: left;
  height:40px;
}

progress{
  margin: auto 0 auto 0;
  background-color: grey;
}


.health p, .energy p, .block p {
  font-weight: 900;
  margin:12px 0 0 5px;
}

.block p{
  color:#00FFFF;
}

.health p{
  color:red;
}

.energy p{
  color:#E1D714;
}

#healthBar::-webkit-progress-value {
  background: red;
}

#energyBar::-webkit-progress-value {
  background: #E1D714;
}

.cards{
  height:180px;
  width:400px;
  background-color: rgba(102, 102, 153, .5);
  bottom:20px;
  left: 300px;
  position: absolute;
  display:flex;
  justify-content: space-evenly;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.card{
  height:160px;
  width:75px;
  border:1px solid black;
  margin: auto 0;

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.cardHeader{
  display:flex;
  justify-content: space-between;
}

.card h2{
  font-size: 1em;
  margin:0;
  text-decoration: underline;
}

.card img{
  width:65px;
  height:65px;
  margin:0 auto;
  display:block;
}

.cardHeader img{
  height:20px;
  width:20px;
  margin:auto 0;
  display:inline;
}

.card h3{
  margin:auto 0;
}

.card .icon{
  height:20px;
  width:20px;
  display:inline;
}

.card p{
  margin: 0 auto;
}

.info{
  margin: .5em 0 0 .5em;
}